<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tplink.gallery">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--SD permission-->
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="com.tplink.gallery.GalleryApplication"
        android:theme="@style/AppTheme">
        <activity android:name="com.tplink.gallery.selector.wallpaper.WallPaperActivity"
            android:theme="@style/PhotoAppTheme">
            <intent-filter>
                <action android:name="com.tplink.action.PICK_WALLPAPE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.tplink.gallery.selector.ImageSelectActivity"
            android:theme="@style/PhotoAppTheme"
            android:hardwareAccelerated="true"
            android:label="@string/select_pic">
            <intent-filter>
                <action android:name="com.tplink.action.MEDIA_PICKER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".preview.wallpaper.WallPaperPreviewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/select_pic"
            android:screenOrientation="portrait"
            android:theme="@style/PhotoAppTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.tplink.action.gallery.PREVIEW_WALLPAPER" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".preview.camera.CameraPreviewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/DarkPhotoAppTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.tplink.action.camera.PREVIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.android.gallery3d.app.InitService"
            android:exported="true"/>

    </application>

</manifest>